#patients-list-container {
  width: 50%;
  height: 1000px;
  background-color: DarkSalmon;
  position: absolute;
  left: 0px;
}

#user-history-container {
  width: 50%;
  height: 1000px;
  background-color: AliceBlue;
  position: absolute;
  right: 0px;
}

#patient-data-container {
  width: 50%;
  height: 1000px;
  background-color: AliceBlue;
  position: absolute;
  right: 0px;
}

.patients-list-card {

}

.patients-list-card-active {
  
}