#patients-list-container {
  width: 50%;
  height: 1000px;
  background-color: DarkSalmon;
  position: absolute;
  left: 0px;
}

#user-history-container {
  width: 50%;
  height: 1000px;
  background-color: AliceBlue;
  position: absolute;
  right: 0px;
}

#patient-data-container {
  width: 50%;
  height: 1000px;
  background-color: AliceBlue;
  position: absolute;
  right: 0px;
}

.patients-list-card {
  width: 100%;
  background-color: red;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.patients-list-card:hover {
  background-color: powderblue;
}

.patients-list-card-active {
  background-color: yellow;
}

.button {
  cursor: pointer;
}